@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}



body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body  {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}

header h2 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
}


.task-list{
  max-width: 640px;
  margin: 20px auto;
}

.task{
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task h3, .task .icons{
  display: inline-block;
}
.task .icons{
  text-align: right;
}

.task i{
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}

.task i.active{
  color: #ff005d; 
}


.filter{
  width: 640px;
  margin: 10px auto;
  text-align:right;
}

.filter button{
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1em;
}

form input{
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}

.new-task-form{
  background: #e7e7e7;
  padding: 20px 0;
}

.form{
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

form button{
  background: #ffd859 ;
  border: 0;
  padding: 10px;
  font-family: "Poopins";
  border-radius: 6px;
  cursor:pointer;
  font-size: 1em;

}

form input{
  border:0;
  padding:10px;
  border-radius: 6px;
  color: #555;
  font-size:1em;
}

.loading {
  max-width: 640px;
  border: 1px solid #ffd859;
  background: #ffe9a0;
  color: #3a3a3a;
  padding: 5px 0;
  text-align: center;
  margin: 30px auto;

}

/* Panel admin */

.dashboardContainer{
  gap: 1rem;
  height: 90vh;
  padding: 2rem;
  width: 100%;
}

.dashboardItem{
  background-color: #fff;
  box-shadow: 2px 5px 10px #00000030;
  height: 100%;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem
}

.dashboardItem h2{
  border-bottom: 2px solid #1DAB77;
}

.dashboardRightColumn{
  width: 70%;
  gap: 1rem;
}

.dashboardLeftColumn{
  width: 30%;
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.buttons{
  justify-content: space-between;
}

.btn{
  font-size: 1rem;
  padding: .7rem 1.5rem;
  border-radius: .8rem;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 5px 10px #00000000;
  transition: .3s;
}

.delete{
  background-color: #FF3131;
}

.deleteSecondary{
  color: #FF3131;
  background-color: transparent;
  border: 2px solid #FF3131;
}

.download{
  background-color:#1DAB77;
}

.btn:hover{
    box-shadow: 2px 5px 10px #00000080;
    transition: .3s;
}

.deleteButtons{
  gap: .5rem;
}

.dashboardItemList{
  list-style-type: none;
  padding-left: 0;
}

.listItem{
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 2px 3px 5px #00000030;
  padding: 1.5rem;
  border-radius: .5rem;
  margin-top: 1rem;
  border: 2px solid transparent;
}

.listItem:hover{
  background-color: #fff;
}

.selected{
  border: 2px solid #1DAB77;
  background-color: #fff;
}
